@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #121212;
  --white: #fff;
  --yellow: #fed43a;
  --red: #ff3333;
}

body {
  color: var(--white);
  background-color: var(--yellow);
}
